@model GamesControl.Web.Models.UsuarioViewModel

@{
    ViewBag.Title = "Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var jogador = false;
}

<h2>@Html.DisplayFor(model => model.Usuario.usuarioNome)</h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div>
                @if (!string.IsNullOrWhiteSpace(Model.Usuario.usuarioFoto))
                {
                    <img id="imgUpload" src="@Url.Content(Model.Usuario.usuarioFoto)" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" style="width:220px; height:230px;" />
                }
                else
                {
                    <img id="imgUpload" src="~/Content/Images/fotoVazia.png" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" style="width:220px; height:230px;" />
                }
            </div>
            <br />
        </div>

        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Email")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.usuarioEmail)
                </dd>

                <dt>
                    @Html.DisplayName("Celular")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.usuarioTelefone)
                </dd>

                <dt>
                    @Html.DisplayName("Status")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.tbUsuarioStatus.usuarioStatusDescricao)
                </dd>

                <dt>
                    @Html.DisplayName("Perfil(is)")
                </dt>

                <dd>
                    <table>
                        @foreach (var perfil in Model.Usuario.tbPerfil)
                        {
                            if (perfil.perfilId == (int)GamesControl.Web.Comum.Enuns.ePerfilUsuario.Jogador)
                            {
                                jogador = true;
                            }
                            <tr>
                                <td>@perfil.perfilDescricao</td>
                            </tr>
                        }
                    </table>
                </dd>
                @if (jogador)
                {
                    <dt>
                        @Html.DisplayName("Data de Nascimento")
                    </dt>

                    <dd>
                        @Html.Label(Model.Jogador.jogadorDataNascimento != DateTime.MinValue ? Model.Jogador.jogadorDataNascimento.ToString(GamesControl.Web.Comum.Constantes.DATA_PADRAO) : string.Empty)
                    </dd>
                    <dt>
                        @Html.DisplayName("Cidade")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Jogador.tbCidade.cidadeNome)
                    </dd>
                }
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Usuario.usuarioId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
