@model GamesControl.Web.tbcidade

@{
    ViewBag.Title = "Editar Cidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Cidade</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.cidadeId)

        <div class="form-group">
            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cidadeNome, new { htmlAttributes = new { @class = "form-control" }, maxLength = 200 })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSalvar" type="button" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnSalvar').click(function () {

                if (!Consistir()) {
                    return false;
                }

                $.post('@Url.Action("EditConfirmed", "Cidade")',
                {
                    id: $("#cidadeId").val(),
                    nome: $("#cidadeNome").val()
                }).done(function (data) {

                    $.AlertDialog('Cidade alterada com sucesso!', 'Mensagem', null, null);

                }).error(function (XMLHttpRequest, textStatus, errorThrow) {

                    var erro = XMLHttpRequest.responseText.split('|');
                    var erroTratado = erro[1];

                    $.ErrorDialog(erroTratado, null, null);
                });
            });
        });

        function Consistir() {
            if ($.trim($("#cidadeNome").val()).length <= 0) {

                $.AlertDialog("O campo 'Nome' é obrigatório", 'Mensagem', null, null);
                return false;
            }

            return true;
        }

    </script>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>


