@model IEnumerable<GamesControl.Web.tbJogo>

@{
    ViewBag.Title = "Jogos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jogos</h2>

<p>
    @Html.ActionLink("Incluir", "Create")
</p>
<table id="tbDados">
    <thead>
        <tr>
            <th width="20%" style="text-align:center;">Ações</th>
            <th width="10%">
                Data
            </th>
            <th width="15%">
                Time Casa
            </th>
            <th width="15%">
                Time Visitante
            </th>
            <th width="20%">
                Campeonato
            </th>
            <th width="10%">
                Status
            </th>
            <th width="10%">
                Pontuação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.jogoId }) |
                    @Html.ActionLink("Editar Jogadores", "Index", "JogoJogador", new { id = item.jogoId }, null) |
                    <a onclick="Excluir(@item.jogoId, '@item.jogoData.ToString(GamesControl.Web.Comum.Constantes.DATA_PADRAO)', '@item.tbTime.timeNome', '@item.tbTime1.timeNome');">Excluir</a>
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.jogoData, GamesControl.Web.Comum.Constantes.DATA_PADRAO_RAZOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbTime.timeNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbTime1.timeNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbCampeonato.campeonatoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbJogoStatus.jogoStatusDescricao)
                </td>
                <td align="center">
                    @((!item.jogoPontuacaoCasa.HasValue && !item.jogoPontuacaoVisitante.HasValue) ? " - " : item.jogoPontuacaoCasa + " x " + item.jogoPontuacaoVisitante)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $('#tbDados').dataTable({
            "language": {
                "paginate": { "first ": "Primeira", "previous": "Anterior", "next": "Próxima", "last": "Última" },
                "emptyTable": "Consulta não retornou registros",
                "info": "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Exibindo 0 registros",
                "infoFiltered": "(filtrados do total de _MAX_ registros)",
                "infoPostFix": "", "thousands": ",",
                "lengthMenu": "Exibir _MENU_ registro(s) por página",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "search": "Filtrar:",
                "zeroRecords": "Consulta não retornou registros",
            },

        });

    });

    function Excluir(id, data, timeCasa, timeVisitante) {
        $.ConfirmDialog('Confirma a exclusão do jogo entre \'' + timeCasa + '\' e \'' + timeVisitante + '\' em ' + data + ' ?',
                        'Confirmação',
                        function () {

                            $.post('@Url.Action("DeleteConfirmed", "Jogo")',
                            {
                                id: id
                            }).done(function (data) {
                                var url = '@Url.Action("Index", "Jogo")';
                                window.location.href = url;
                            }).error(function (XMLHttpRequest, textStatus, errorThrow) {

                                var erro = XMLHttpRequest.responseText.split('|');
                                var erroTratado = erro[1];

                                $.ErrorDialog(erroTratado, null, null);
                            });
                        },
                        function () { return false; },
                        null);
    }

</script>
